@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700;800&display=swap');
:root {
    --primaryColor: #0b2751;
    --secondColor: #193763;
    --primary-linear-gradient: linear-gradient(to right, #3f5efb, #fd55d3);
    --max-width: 1140px;
    --blue: #3f5efb;
    --pink: #fc466b;
    --linkedInColor: #0077b5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    background-color: var(--primaryColor);
    color: white;
    position: relative;
}
.column {
    display: flex;
    flex-direction: column;
}
.text-justify {
    text-align: justify;
}
img {
    max-width: 100%;
}

.ultra {
    background-color: var(--primaryColor);
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    z-index: 9998;
}
nav {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    max-height: 10rem;
    padding: 1rem 0;
    background-color: var(--primaryColor);
    z-index: 9998;
    transition: 0.1s;
}
#logo {
    width: 50%;
}

#logo img {
    height: 100%;
}
nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: 600;
}
nav a {
    text-decoration: none;
    color: white;
    outline: none;
}
.nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav .nav__item {
    float: left;
    position: relative;
    cursor: pointer;
    padding: 2rem 0;
}

.nav__item:hover > .nav--sub {
    visibility: visible;
}
.nav--sub {
    position: absolute;
    visibility: hidden;
    width: max-content;
    background-color: var(--secondColor);
    padding: 1.5rem 0;
    border-radius: 0.5rem;
    margin-top: 2rem;
}
.nav--sub::after {
    content: '';
    width: 2rem;
    height: 2rem;
    background-color: var(--secondColor);
    z-index: 1;
    position: absolute;
    top: -0.5rem;
    left: 2rem;
    transform: rotate(45deg);
    border-radius: 0.3rem;
}
.nav--sub li {
    padding: 0.5rem 1.5rem;
    opacity: 0.7;
    border-left: solid 0.3rem transparent;
}
.nav--sub li:hover {
    opacity: 1;
    border-left: solid 0.3rem white;
}

.input-toggler {
    display: none;
}
.menu-toggler {
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggler-line {
    width: 3rem;
    height: 3px;
    background: white;
    margin: 0 0 5px 0px;
    position: relative;
    transition: all 0.4s ease-out;
}

.input-toggler:checked ~ .menu-toggler .menu-toggler-line {
    transform: translateY(50%) rotate(45deg);
    margin: 0;
}

.input-toggler:checked ~ .menu-toggler .menu-toggler-line:nth-child(2) {
    display: none;
}

.input-toggler:checked ~ .menu-toggler .menu-toggler-line:nth-child(3) {
    transform: translateY(-50%) rotate(135deg);
}

.input-toggler:checked ~ .nav {
    transform: translateX(0);
}

section {
    max-width: 1140px;
    margin: 0 auto;
}
.main-section {
    padding: 10rem 0;
}
.main-section section {
    padding-top: 10rem;
}

.about-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-us .desc {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.about-us .cover {
    width: 45%;
    position: relative;
}

.slogan {
    margin-top: 3rem;
    font-size: 5rem;
    font-weight: 900;
    line-height: 1.3;
}
.mission {
    list-style: none;
}
.mission p {
    font-weight: 600;
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.mission li {
    font-size: 18px;
    padding-left: 2rem;
}
.mission li i {
    margin-right: 15px;
    font-size: 2rem;
    width: 2rem;
}
.vision {
    margin-top: 2rem;
    font-weight: 600;
    font-size: 2rem;
}
.shape-decor {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: -100;
    margin-top: -10rem;
    opacity: 0.1;
}

.heading {
    font-size: 4.5rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
}
.heading--sub {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-style: italic;
}
.heading--desc {
    text-align: center;
    font-size: 2rem;
}
.mission i {
    color: rgb(110, 173, 255);
}
.special-character {
    font-size: 2.5rem;
    font-weight: 600;
}
@keyframes dance {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10%);
    }
    100% {
        transform: translateY(0);
    }
}

.nft-block:nth-child(2) {
    position: absolute;
    left: 40%;
    top: -30%;
    width: 35%;
    animation: dance 5s ease-in-out infinite;
}
.nft-block:nth-child(3) {
    position: absolute;
    left: 10%;
    top: 10%;
    width: 20%;
    animation: dance 3s ease-in-out infinite;
}
.nft-block:nth-child(4) {
    position: absolute;
    left: 70%;
    top: 40%;
    width: 15%;
    animation: dance 4s ease-in-out infinite;
    z-index: 1;
}

.nft-block:nth-child(5) {
    position: absolute;
    left: 60%;
    top: 65%;
    width: 10%;
    animation: dance 2s ease-in-out infinite;
}
.nft-block:nth-child(6) {
    position: absolute;
    left: 80%;
    top: -20%;
    width: 10%;
    animation: dance 2s ease-in-out infinite;
}
.nft-block:nth-child(7) {
    position: absolute;
    left: 40%;
    top: 30%;
    width: 10%;
    animation: dance 3s 1s ease-in-out infinite;
}
.nft-block:nth-child(8) {
    position: absolute;
    left: 80%;
    top: 25%;
    width: 20%;
    animation: dance 2s 1s ease-in-out infinite;
}
/* statistic */
#statistic {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem 6rem 0 6rem;
}
#statistic::before {
    content: '';
    transform: skewX(3deg) skewY(0.2deg);
    position: absolute;
    top: -0.2rem;
    right: -0.2rem;
    bottom: -0.2rem;
    left: -0.2rem;
    background: linear-gradient(175deg, #fff, var(--primaryColor), #d400d4);
    z-index: -1;
}
#statistic::after {
    content: '';
    transform: skewX(2deg) skewY(0.5deg);
    position: absolute;
    top: -0.2rem;
    right: -0.2rem;
    bottom: -0.2rem;
    left: -0.2rem;
    background: linear-gradient(175deg, #fff, var(--primaryColor), #d400d4);
    z-index: -1;
    filter: blur(1.5rem);
}
.statistic {
    background-color: var(--primaryColor);
    width: 100%;
    height: 100%;
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
    min-height: 15rem;
}
.stats {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.stats .number {
    font-size: 6rem;
    line-height: 1.2;
    font-weight: 900;
}
.stats .title {
    font-size: 2rem;
    font-weight: 600;
}
/* end statistic */

.description {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
}
.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* .service:nth-child(odd) {
    padding-right: 1.5rem;
}
.service:nth-child(even) {
    padding-left: 1.5rem;
} */
.service {
    width: 49%;
    aspect-ratio: 16/9;
    margin-bottom: 3rem;
    position: relative;
    cursor: pointer;
}
.service .desc__sub {
    margin-bottom: 20px;
}
.service:hover .approach {
    opacity: 1;
}
.approach {
    width: 100%;
    height: 100%;
    background-color: #193763f8;
    padding: 2rem;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s;
}

.approach ul {
    list-style: none;
}
.approach li {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.approach label {
    font-weight: 600;
    width: max-content;
}
.approach span {
    text-align: end;
}
.service__title {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.service__title span {
    font-size: 2.4rem;
    font-weight: 600;
    margin-left: 2rem;
}
.approach .icon {
    background-color: var(--secondColor);
    border-radius: 50%;
    aspect-ratio: 1;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.approach .icon-border {
    padding: 5px;
    width: 50px;
    background-image: var(--primary-linear-gradient);
    border-radius: 50%;
    aspect-ratio: 1;
    font-size: 20px;
}

/* banner pitckdesk */
#pitckdesk {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.pitchdeck__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.special-button {
    text-decoration: none;
    color: white;
    outline: none;
    text-align: center;
    font-size: 2.5rem;
    border: none;
    font-weight: 600;
    background-image: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    padding: 0.7rem 2.5rem;
    cursor: pointer;
    border-radius: 5rem;
    z-index: 1;
    position: relative;
}
.special-button:hover {
    animation: gradient 8s linear infinite;
}
#portfolio {
    padding-bottom: 0;
}
@keyframes gradient {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}
.special-button:before {
    content: '';
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    bottom: -0.5rem;
    left: -0.5rem;
    z-index: -1;
    background-image: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 4rem;
    opacity: 0;
    transition: 0.5s;
}
.special-button:hover::before {
    filter: blur(2rem);
    opacity: 1;
    animation: gradient 8s linear infinite;
}

.pitckdesk__subs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pitckdesk__subs .heading--desc {
    text-align: center;
    margin: 2rem 0;
}
/* end banner pitckdesk */

.partner-swiper {
    margin-top: 5rem;
    padding: 2rem 0;
}
.partner-swiper .swiper-slide {
    opacity: 1;
    transition: all 0.3s;
}
.partner-swiper .swiper-slide:hover {
    transform: scale(1.2);
}
.members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.member__border {
    margin-top: 10rem;
    width: 40%;
    aspect-ratio: 1;
    background-image: var(--primary-linear-gradient);
    padding: 0.5rem;
}
.member__border:nth-child(odd) {
    margin-right: 1rem;
}
.member__border:nth-child(even) {
    margin-left: 1rem;
}
.member__content {
    width: 100%;
    height: 100%;
    background-color: var(--primaryColor);
    position: relative;
    padding: 10rem 1.5rem 1.5rem 1.5rem;
}
.member__avatar {
    width: 15rem;
    height: 15rem;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 0.5rem var(--linkedInColor);
    /* overflow: hidden; */
}
.member__avatar img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
}
.member__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.profile-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    aspect-ratio: 1;
    border-radius: 0.5rem;
    color: white;
    flex-grow: 1;
    text-decoration: none;
    font-size: 2rem;
    transition: 0.3s;
    position: absolute;
    top: 100%;
    left: 50%;
    background: var(--linkedInColor);
    transform: translate(-50%, -50%);
}
.member__content .name {
    font-weight: 600;
    font-size: 3.5rem;
}
.member__content .position {
    font-weight: 600;
    font-size: 2rem;
    font-style: italic;
}
.member__content .quote {
    font-size: 2rem;
    font-style: italic;
    text-align: center;
}
#our-project .sliders {
    display: flex;
    align-items: center;
}
.slide-control {
    font-size: 3rem;
    cursor: pointer;
    color: var(--secondColor);
    transition: all 0.3s;
}
.ctrl-next {
    margin-left: 1.5rem;
}
.ctrl-prev {
    margin-right: 1.5rem;
}
.ctrl-next:hover {
    color: white;
}
.ctrl-prev:hover {
    color: white;
}
.project {
    aspect-ratio: 1;
    background-color: var(--primaryColor);
    border-radius: 2rem;
    overflow: hidden;
    transition: 0.5s all;
    padding: 1.5rem;
    border: solid 0.5rem var(--secondColor);
}
.project:hover {
    background: var(--secondColor);
    transition: 0.5s;
}
.project:hover > .project__cover {
    width: 30%;
}
.project__cover {
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;
    transition: 0.5s;
    margin: 0 auto;
}
.project__cover img {
    width: 100%;
    height: 100%;
}
.project__content {
    margin-top: 1.5rem;
}
.project__name {
    font-size: 2rem;
    font-weight: 600;
}
.project__desc {
    text-align: justify;
}
.news {
    aspect-ratio: 3/4;
    background-color: var(--secondColor);
    border-radius: 1rem;
}
.news__cover {
    width: 100%;
    aspect-ratio: 2;
    overflow: hidden;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.news_time {
    padding-left: 2rem;
    display: flex;
    align-self: flex-end;
    width: max-content;
    border-bottom: solid white 0.3rem;
    margin-bottom: 1.5rem;
}
.news__cover img {
    width: 100%;
    height: 100%;
}
.news__content {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}
.news__avatar {
    width: 7.5rem;
    height: 7.5rem;
    padding: 1.5rem;
    border-radius: 50%;
    background-color: white;
}
.news__name {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.1;
}
.news__desc {
    margin-top: 3rem;
    text-align: justify;
}
.seemore {
    padding: 1rem 3rem;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border: solid 2px var(--secondColor);
    border-radius: 50px;
    display: flex;
    align-self: flex-end;
    width: max-content;
    transition: 0.3s;
    float: right;
}
.news-swiper-pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.seemore:hover {
    background: var(--secondColor);
}
#SUP .seemore {
    float: right;
}
.swiper-pagination-bullet {
    background-color: white;
    opacity: 0.3;
}
.swiper-pagination-bullet-active {
    opacity: 1;
}
.decor-galaxy {
    width: 100%;
    position: absolute;
    z-index: -2;
    z-index: -5;
    opacity: 0.3;
    max-width: var(--max-width);
    left: 50%;
    transform: translateX(-50%);
}
/* mentors */
.mentor-carousel {
    display: flex;
    align-items: center;
}
.mentor-swiper-pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
#mentor .heading--sub {
    margin-bottom: 1.5rem;
}
#our-project .heading--desc,
#mentor .heading--desc {
    display: block;
    margin-bottom: 5rem;
}

.mentor {
    position: relative;
    border-radius: 1rem;
}
.mentor__cover {
    border-radius: 1rem;
}
.mentor:hover .mentor__info {
    height: 100%;
    background: linear-gradient(to top, var(--secondColor), transparent);
}
.mentor__info {
    position: absolute;
    width: 100%;
    height: 0;
    overflow: hidden;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-radius: 1rem;
    padding: 1.5rem;
    color: white;
    transition: 0.3s;
}
.mentor__info .position {
    font-style: italic;
    line-height: 1.2;
}
.mentor__info .name {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.2;
}
.mentor__info .information {
    list-style: none;
    padding: 0;
}
.mentor__info .social {
    list-style: none;
    padding: 0;
}
.mentor__info .social .item {
    float: left;
    padding: 1rem;
    font-size: 2rem;
    aspect-ratio: 1;
    cursor: pointer;
}
.mentor__info .social .item:hover {
    color: #00acee;
}
/* end mentors */
/* footer */
#footer {
    display: flex;
    flex-wrap: wrap;
    max-width: var(--max-width);
    margin: 10rem auto 0 auto;
    align-items: center;
}
#footer .footer__logo {
    width: 30%;
    padding-right: 5rem;
}
#footer .copyright img {
    width: 100%;
}
.footer__panel {
    display: flex;
    flex-grow: 1;
}
#footer .menu {
    width: 50%;
}
#footer .menu ul {
    list-style: none;
    font-size: 2rem;
    font-weight: 500;
}
#footer .menu a {
    text-decoration: none;
    color: white;
}
#footer .contact {
    width: 50%;
    display: flex;
    flex-direction: column;
}
#footer label {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.subscribe {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}
.subscribe form {
    display: flex;
}
.subscribe input[type='text'] {
    background-color: var(--secondColor);
    border: none;
    padding: 1rem 2rem;
    color: white;
    outline: none;
    border-radius: 0.5rem;
    flex-grow: 1;
    margin-right: 1rem;
}
.subscribe input[type='submit'] {
    background-color: white;
    border: none;
    padding: 1rem 2rem;
    color: var(--secondColor);
    outline: none;
    border-radius: 0.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
}
.subscribe input[type='submit']:hover {
    background-color: var(--secondColor);
    color: white;
}

.social-items {
    list-style: none;
    margin-bottom: 1.5rem;
}
.social-items li {
    list-style: none;
    float: left;
}
.social-items .item {
    font-size: 3.5rem;
    margin-right: 2rem;
}
/* end footer */

/* tabs */
#SUP .start-up-cover {
    height: 15rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.tab-wrapper {
    text-align: center;
    display: block;
    margin: auto;
    max-width: 500px;
}

.tabs {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.tab-link {
    list-style: none;
    padding: 10px 40px;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    font-weight: 600;
    font-size: 2rem;
    width: max-content;
    transition: all ease 0.5s;
    border-bottom: solid 3px rgba(255, 255, 255, 0);
    letter-spacing: 1px;
}

.tab-link:hover,
.tab-link.active {
    color: white;
    border-color: white;
}

.content-wrapper {
    padding: 5rem 0;
}

.tab-content {
    display: none;
    text-align: center;
    opacity: 0;
    transform: translateY(15px);
    animation: fadeIn 0.5s ease 1 forwards;
}

.tab-content.active {
    display: block;
}
.tab-content ul {
    list-style: none;
}
.tab-content .content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tab-content .subs {
    margin-right: 3rem;
}
.tab-content .subs span {
    margin-bottom: 3rem;
}
.tab-content .subs li {
    font-size: 2rem;
}

.news-carousel {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#why-us .description {
    margin-top: 3rem;
}
/*  */
/* .alpha-container, */
.alpha-container {
    background: url(../images/decor-pc.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.alpha-container #mentor {
    padding-bottom: 20rem;
}
.ultra-container {
    max-width: unset;
    background-color: white;
    position: relative;
}
.ultra-container::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    top: -45rem;
    height: 47rem;
    background: url(../images/pc.png);
    background-repeat: no-repeat;
    z-index: -2;
}
/* .alpha-container::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    top: -45rem;
    height: 45rem;
    background: url(../images/pc.png);
    background-repeat: no-repeat;
    z-index: -2;
} */
.alpha-container .tab-link:hover,
.alpha-container .tab-link.active {
    color: var(--primaryColor);
    border-color: var(--primaryColor);
}
.alpha-container .swiper-pagination-bullet-active {
    background-color: var(--primaryColor);
}
.alpha-container .swiper-pagination-bullet {
    background-color: var(--primaryColor);
}
.alpha-container .slide-control:hover {
    color: var(--primaryColor);
}
.alpha-container .slide-control {
    color: var(--secondColor);
}
.ultra-container::before {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -45rem;
    height: 45rem;
    background: url(../images/wave-white.png);
    background-repeat: no-repeat;
    z-index: -2;
}
.ultra-container .news {
    color: white;
}
.alpha-container .tab-link {
    color: var(--primaryColor);
}
.ultra-container #why-us .description {
    font-weight: 600;
}
.alpha-container .heading,
.alpha-container .heading--sub,
.alpha-container .heading--desc,
.alpha-container .subs,
.alpha-container .seemore,
.ultra-container .why-us {
    color: var(--primaryColor);
}

.service__cover {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
}
.service__cover img {
    width: 100%;
    object-fit: cover;
}
/*  */
@keyframes fadeIn {
    100% {
        opacity: 1;
        transform: none;
    }
}

/* contact us */
.contact-form {
    background-color: white;
    border-radius: 2rem;
    padding: 3rem;
    color: var(--primaryColor);
    position: relative;
}
.contact-form form {
    display: flex;
    margin-top: 3rem;
}
.contact-form .form__info {
    flex-grow: 1;
    margin-right: 1.5rem;
}
.contact-form .form__info .form-group:not(:first-child) {
    margin-top: 1.5rem;
}
.contact-form .form__message {
    flex-grow: 1;
    margin-left: 1.5rem;
}
.contact-form label {
    font-weight: 600;
}
.contact-form input[type='text'],
.contact-form textarea {
    padding: 1rem 2rem;
    outline: none;
    border: solid 2px var(--primaryColor);
    border-radius: 0.5rem;
    color: var(--primaryColor);
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.contact-form textarea {
    height: 100%;
}
.contact-form .form-group {
    display: flex;
    flex-direction: column;
}
.submit {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    font-weight: 600;
    align-items: center;
}
.submit button {
    font-weight: 600;
    outline: none;
    border: solid 2px var(--primaryColor);
    background-color: var(--primaryColor);
    color: white;
    padding: 1.5rem 3rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s;
}
.submit button:hover {
    color: var(--primaryColor);
    background-color: white;
}
.contact .social {
    margin-bottom: 1.5rem;
}

.social-contact {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0rem 2rem;
    border-bottom-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background-color: var(--secondColor);
}
.social-contact a {
    font-size: 1.62rem;
    color: white;
    padding: 1rem;
}

/* end contact us */
.site-copyright {
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 5rem 0;
}

#partner,
#contact-us,
#mentor {
    padding-top: 10rem;
}
.simple #core-team,
.simple #about-us,
.simple #why-us {
    padding-bottom: 0;
}
.simple #portfolio {
    padding-top: 0;
}
@media screen and (max-width: 1140px) {
    .main-section {
        padding: 10rem 2rem 0 2rem;
    }
    footer {
        padding: 0 2rem 0 2rem;
    }
    nav {
        padding: 1rem 2rem;
    }
}
@media screen and (max-width: 1023px) {
    #logo {
        width: 30%;
        margin-right: 2rem;
    }
    .about-us {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .about-us .desc {
        width: 100%;
    }
    .about-us .cover {
        width: 50%;
        margin-top: 10rem;
    }
    #statistic {
        margin: 5rem 0;
    }
    .service {
        width: 100%;
        aspect-ratio: unset;
        padding: unset !important;
        position: relative;
    }
    .member__border {
        width: 100%;
        aspect-ratio: unset;
        margin: 12.5rem 0 0 0 !important;
    }
    .tab-content .content {
        flex-direction: column;
    }
    .tab-content .subs {
        margin-right: unset;
        margin-bottom: 3rem;
    }

    .footer__panel {
        margin-top: 5rem;
    }

    #footer .footer__logo {
        margin: 0 auto;
        padding-right: 0;
    }

    .alpha-container {
        margin-top: 10rem;
        background: url(../images/decor-mobile.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .alpha-container #mentor {
        padding: 3rem 2rem !important;
    }
    .ultra-container::before {
        bottom: -10rem;
        height: 20rem;
    }
    .pitchdeck__content {
        flex-direction: column;
        align-items: center;
    }
    .pitckdesk__image {
        width: 30%;
    }
}
@media screen and (max-width: 767px) {
    html,
    body {
        overflow: auto;
    }
    .menu-toggler {
        display: flex;
    }
    nav {
        position: fixed;
        justify-content: space-between;
        padding: 1rem 2rem;
        top: 0;
        left: 0;
        max-height: 7rem;
        /* -webkit-backface-visibility: hidden; */
    }
    .nav {
        position: absolute;
        background-color: var(--primaryColor);
        transform: translateX(100%);
        flex-direction: column;
        left: 0;
        top: 7rem;
        transition: 0.5s;
        width: 100%;
        height: 100vh;
        justify-content: flex-start;
        overflow: hidden;
    }
    #logo {
        width: unset;
    }
    #about-us {
        padding-top: 7rem !important;
    }
    .statistic {
        flex-wrap: wrap;
        padding: 1.5rem;
    }
    .nav .nav__item {
        width: 100%;
        padding: 0.5rem 2rem;
        outline: none;
    }
    .nav--sub {
        position: relative;
        visibility: visible;
        background-color: unset;
        padding: unset;
        width: 100%;
        margin: unset;
    }
    .nav--sub::after {
        content: unset;
    }
    .stats {
        width: 50%;
        padding: 2rem 0;
    }
    .stats .number {
        font-size: 3.5rem;
    }
    .stats .title {
        font-size: unset;
    }
    .ultra-container::after {
        background: url(../images/mobile.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
        top: -12rem;
        height: 17rem;
    }
    .contact-form form {
        flex-direction: column;
    }
    .contact-form .form__info {
        margin: unset;
    }
    .contact-form .form__message {
        margin: 1.5rem 0 0 0;
    }
    .footer__panel {
        flex-direction: column;
    }
    #footer .footer__logo {
        width: 50%;
    }
    #footer {
        align-items: center;
    }
    #footer .contact,
    #footer .menu {
        width: 100%;
        margin-top: 2rem;
    }
    #footer .menu ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .slogan {
        font-size: 3rem;
        text-align: center;
    }
    .mission p {
        font-size: 1.8rem;
        text-align: center;
    }
    .heading--sub,
    .vision,
    .description,
    .mission li {
        font-size: 1.8rem;
    }
    .heading {
        font-size: 3rem;
    }
    .main-section section {
        padding-top: 7rem;
    }
    #pitckdesk {
        flex-direction: column;
    }
    .service__title span {
        font-size: 2rem;
    }
    .heading--desc {
        font-size: 1.8rem;
    }
    .member__content .name {
        font-size: 2.5rem;
    }
    .member__content .quote {
        font-size: unset;
    }
    .member__content .position {
        font-size: 1.8rem;
    }
    .member__border {
        margin: 8rem 0 0 0 !important;
    }
    .contact-form {
        margin-top: 0;
    }
    .submit button {
        padding: 1rem 1rem;
    }
    .submit .heading-desc {
        font-size: 1.2rem;
    }
    .footer__panel {
        margin-top: 0;
    }
    #footer .menu a {
        font-size: 1.3rem;
    }
    .site-copyright {
        font-size: 1.3rem;
    }
    .mentor__info {
        height: 100%;
        background: linear-gradient(to top, var(--secondColor), transparent);
    }
    .about-us .cover {
        width: 100%;
    }

    .tab-link {
        font-size: unset;
        padding: 1rem 2rem;
    }
    .news {
        overflow: hidden;
    }
    .news_time {
        font-size: 1.3rem;
    }
    .news__name {
        font-size: unset;
    }
    .news__desc {
        font-size: 1.3rem;
        margin-top: 1rem;
    }
    iframe {
        width: 100%;
    }
    .seemore {
        font-size: 1.3rem;
        padding: 0.5rem 1.5rem;
    }
}
